@import url(https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css);
*{
    margin:0;
    padding:0;
}
body{
    /* color:white; */
    /* height:100vh; */
    background-image: linear-gradient(to bottom right, rgb(29, 198, 204),rgb(145, 44, 240));
   
}


.main{
  display: flex;
  align-items: center;
}

.leftside{
  min-width: 50%;
  max-width: 50%;
  padding:20px 10vh;
  align-content: center;
  justify-content: center;

}
.rightside{
  min-width: 50%;
  padding:20px 1vh 20px 1vh;
  align-content: center;
  justify-content: center;

}


.heading{
  font-size: 40px;
  text-align: center;
  display: flex;
  color: aliceblue;
  gap: 10px;
 
}

.subHeading{
  font-size: 30px;
  color: rgb(228, 226, 225);
}

.content{
  font-size:20px;
  color: rgb(7, 7, 7);
}

.tech{
  color: rgb(216, 213, 219);
  font-weight: 500;
  margin-top: 20px;
}

.calculator{
    background-color: black;
    width : 342px;
    height: 616px;
    margin: 10px;
    border-radius: 30px;
}

.topContainer{
    display: flex;
    color:white;
    justify-content: space-between;
    margin:10px;
    padding:10px;
}

.status{
    display: flex;
    gap:5px;
}
.space{
    background-color: white;
    width: 136px;
    height: 4px;
    border-radius: 28px;
}
.value{
    /* margin:20px; */
    color:white;
    text-align: right;
    padding-right:20px; 
    right: 8px;
    font-size: 49px;
    margin-top: 30px;
    /* position:relative; */
}

.buttonsContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4 , 1fr);
    margin:50px 10px 0 10px;
    height: 10px;
}
.button{
    margin:10px;
    text-align: center;
    font-size: 40px;
    font-weight: 10;
    border-radius: 60px;
    padding:5px;
    cursor: pointer;
  
   
}
.number{
  background-color: rgb(42, 49, 49);
    color:white;
}

.grey{
    background-color: gainsboro;
    color:black;
    font-size: 34px;
    font-weight: 500;
}

.operator{
    background-color: orange;
    color:white;
}

.equal{
  color:white;
}
 .shape{
     grid-column: 1 /3;
 }



 @media  screen and (max-width:768px) {

  .main{
    flex-direction: column;
    text-align: start;
    align-items: flex-start;
    /* margin-top: 56px; */
  }
   /* body{
     display: flex;
     justify-content: center;
     align-items: center;
   } */

   .leftside{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 90vw;
     padding: 20px 5vh;
   }


   .heading{
    display: flex;
    flex-direction: column;
    
  }

  .h11, .Typewriter__wrapper{
  font-size: 30px;
  width: 100%;
  min-width: 50%;
  text-align:start;
  margin: 0;
  padding: 0;
  }



  .Typewriter{
    text-align: start;
    margin: 0;
  
    padding: 0 0 0 20px;
  }

 

  .subHeading{
    font-size: 25px;
  }
 
  .calculator{
    background-color: black;
    width : 330px;
    height: 600px;
  }
  .buttonsContainer{
    margin-top: 50px;
  }
  .button{
    margin:10px;
    text-align: center;
    font-size: 40px;
    font-weight: 10;
    border-radius: 60px;
    padding:4px;
  }
   
  .time{
    font-size: 12px;
  }

  /* .leftside{
    margin-top: 75px;
  } */


}